<div class="container mt-3">
  <h1>Wishlist</h1>
  <br>
  <div class="row scrolling-wrapper">
    <% @books.each do |book| %>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="book-card d-flex flex-column position-relative">
          <% if book.cover_image_url.present? %>
            <%= link_to book_path(book) do %>
              <%= image_tag book.cover_image_url, alt: book.title, class: "book-image" %>
            <% end %>
          <% else %>
            <%= link_to book_path(book) do %>
              <%= image_tag 'https://salonlfc.com/image-not-found-2/', alt: 'No cover available', class: "book-image" %>
            <% end %>
          <% end %>

          <h5 class="book-title">
            <%= link_to book.title, book_path(book), style: "text-decoration: none; color: inherit"%>
          </h5>
          <p class="book-info"><strong><%= book.author %></strong></p>
          <p class="book-info"><%= book.genre %> | ★★★★☆</p>

          <div class="mt-auto ms-auto button--group">
           <%= link_to content_tag(:i, "", class: "fa-solid fa-square-check icon"),
             book_read_books_path(book), style: "color:#708090; font-size: 16px; margin-left: 20px;",
             class: 'icon-wrapper',
             data: { turbo_method: :post }
           %>
           <%= link_to content_tag(:i, "", class: "fa-solid fa-xmark icon"),
             user_library_path(book), style: "color:#708090; font-size: 16px; margin-left: 20px;",
             class: 'icon-wrapper',
             data: { turbo_method: :delete }
           %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
