<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://images.pexels.com/photos/1485114/pexels-photo-1485114.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');">
  <div class="container">
    <h1>Top text</h1>
    <p>Text</p>
  </div>
</div>

<div class="container py-5 text-center">
  <div class="button-box">
    <div id="btn"></div>
    <button type="button" class="toggle-btn" onclick="leftClick()">Random</button>
    <button type="button" class="toggle-btn" onclick="centerClick()" active>Our Selection</button>
    <button type="button" class="toggle-btn" onclick="rightClick()">Seasons</button>
  </div>
</div>

<% if current_user %>
<%# <button type="button" id="loadUserContent" class="toggle-btn">Load User Books</button> %>
  <div class="container py-5">
    <div id="bookCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <% @books.each_slice(3).with_index do |books_slice, index| %>
          <div class="carousel-item <%= 'active' if index.zero? %>">
            <div class="d-flex justify-content-center gap-4">
              <% books_slice.each do |book| %>
                <div class="text-center book-item">
                  <% if book.cover_image_url.present? %>
                    <%= image_tag(book.cover_image_url, alt: "book-cover", style: "margin-top: 0.5rem; max-width: 100%; max-height: 100%; object-fit: contain;") %>
                  <% else %>
                    <p>No such file</p>
                  <% end %>
                  <h5 class="book-title"><%= book.title %></h5>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#bookCarousel" data-bs-slide="prev">
        <i class="fas fa-chevron-left"></i>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#bookCarousel" data-bs-slide="next">
        <i class="fas fa-chevron-right"></i>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

<% end %>

<script>
  var btn = document.getElementById('btn');
  let carousel = document.querySelector(".carousel-inner")
  function leftClick() {
    btn.style.left = '0';
    carousel.innerHTML = ''
    let newContent = `
      <% @three_recommendations_pro_click.each_slice(3).with_index do |books_slice, index| %>
        <div class="carousel-item <%= 'active' if index.zero? %>">
          <div class="d-flex justify-content-center gap-4">
            <% books_slice.each do |book| %>
              <div class="text-center book-item">
                <% if book.cover_image_url.present? %>
                  <%= image_tag(book.cover_image_url, alt: "book-cover", style: "margin-top: 0.5rem; max-width: 100%; max-height: 100%; object-fit: contain;") %>
                <% else %>
                  <p>No such file</p>
                <% end %>
                <h5 class="book-title"><%= book.title %></h5>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>`
      carousel.innerHTML += newContent


  }

  function rightClick() {
    btn.style.left = '110px';
    carousel.innerHTML = ''

  }

  function centerClick() {
    btn.style.left = '220px';
    carousel.innerHTML = ''
         let newContent = `
     <% @books.each_slice(3).with_index do |books_slice, index| %>
        <div class="carousel-item <%= 'active' if index.zero? %>">
          <div class="d-flex justify-content-center gap-4">
            <% books_slice.each do |book| %>
              <div class="text-center book-item">
                <% if book.cover_image_url.present? %>
                  <%= image_tag(book.cover_image_url, alt: "book-cover", style: "margin-top: 0.5rem; max-width: 100%; max-height: 100%; object-fit: contain;") %>
                <% else %>
                  <p>No such file</p>
                <% end %>
                <h5 class="book-title"><%= book.title %></h5>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>`
      carousel.innerHTML += newContent
  }



</script>
