<div class="all">

<div class="left_01">
<div class="upper-container">
    <!-- Book Cover and Extra Content Container (e.g nearby button)-->
    <div class="left-upper-container">
    
      <!-- Book Cover -->
      <div class="book-cover">
        <%= image_tag(@book.cover_image_url, alt: "book-cover", style: "margin-top: 0.5rem; max-width: 100%; max-height: 100%; object-fit: contain;") %>
      </div>
      
      <!-- Additional Content Below Book Cover -->
      <div class="extra-content">
         <button class="btn btn-dark btn-sm">Add to User Library</button>
         <button id="nearby"
          class="btn btn-secondary btn-sm"
          data-controller="nearby-bookstores"
          data-action="click->nearby-bookstores#toggle_map"
          >Nearby </button>
      </div>
    </div>

    <!-- Book Details right container-->
    <div class="book-details ms-3 p-3 text-center">
      <h2><%= @book.title %></h2>
      <p><%= @book.author %></p>
      <p class="text-wrap"><%= @book.summary %></p>
    </div>
  </div>
  
  <div class="map-container">
    <div style="width: 100%; height: 600px;" data-controller="map" data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>
</div>

  <div class="right-container">
    <strong><p class="text-center m-3">Readers also enjoyed</p></strong>
  </div>
</div>



